@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header {
  height: 100vh;
  background-color:hsl(193, 100%, 96%);
  background-image: url(images/bg-hero-mobile.svg);
  background-position: center;
  background-size: cover;
}
.logo {
  display: flex;
  margin-left: 90px;
  margin-right: 90px;
  justify-content: space-between;
}
.logo img {
  width: 130px;
  height:20px;
  margin-top: 30px;
}
.logo button {
  margin-top: 30px;
}
.try-btn{
  width:130px;
  height:30px;
  background:#fff;
  font-size:12px;
  font-family: 'poppins';
  font-weight:600;
  border:none;
  border-radius:50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container {
  margin-left: 90px;
  margin-right: 90px;
  display: flex;
}
.left-container-col, .right-container-col {
  flex-basis: 50%;
}
.left-container-col, .build-text{
  margin-top: 70px;
  font-size: 34px;
  font-weight:600;
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
}
p {
  font-size: 14px;
  margin-top: 10px;
  color: hsl(192, 100%, 9%);
  font-family: 'Poppins', sans-serif;
}
.right-container-col img{
  width: 100%;
  margin-top: 80px;
}
.start-btn{
  width:230px;
  height:50px;
  background:hsl(322, 100%, 66%);
  color:#fff;
  font-weight:500;
  outline:none;
  border:none;
  border-radius: 50px;
  margin-top: 20px;
  font-family: 'Poppins';
  font-weight:600;
}

/*----------- Grow together ---------------*/
#grow-togeda{
  display:flex;
  margin: 80px;
  align-items: center;
  justify-content:center;
  flex-wrap:wrap;
  border-radius:10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top:20px;
  
}
.grow-left-col, .grow-right-col{
  flex-basis: 50%;
  padding:30px;
}
.grow-left-col{
  max-width:600px;
}
.grow-left-col p{
  font-size:16px;
  color:hsl(208, 11%, 55%);
}
.grow-text,.flow-text, .user-text{
  font-family:'Open Sans';
  font-size: 28px;
  font-weight:700;
  color: hsl(192, 100%, 9%);
}
.grow-right-col img{
  width:100%;
}

/*----------- Flowing Conversation ---------------*/
#flow-convasation, #your-user{
  display:flex;
  margin: 80px;
  align-items: center;
  justify-content:center;
  flex-wrap:wrap;
  border-radius:10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.flow-left-col, .flow-right-col{
  flex-basis: 50%;
  padding:30px;
}
.flow-left-col img{
  width:100%;
}
.flow-right-col p{
  font-size:16px;
  color:hsl(208, 11%, 55%);
}

/*----------- Your Users ---------------*/

.user-left-col, .user-right-col{
  flex-basis: 50%;
  padding:30px;
}
.user-right-col img{
  width:100%;
}
.user-left-col p{
  font-size:16px;
  color:hsl(208, 11%, 55%);
}

/*----------- Footer ---------------*/
#huddle-footer{
  background:hsl(192, 100%, 9%);
  height:70vh;
  margin-top:140px;
}
.build-community{
 display:flex;
 align-items:flex;
 justify-content: center;
 z-index:5;
 transform:translateY(-50%);
}
.box{
  background-color:#fff;
  box-shadow:rgba(100, 100, 111, 0.2);
  text-align:center;
  border-radius:15px;
  width:90vh;
  height:30vh;
}
.buildcom-text{
  font-size:28px;
  font-weight:700;
  font-family: 'Open sans';
  color:hsl(192,100%, 9%);
  margin-top:35px;
}
.get-btn{
  width:40vh;
  height:40px;
  background-color:hsl(322, 100%, 66%);
  color:#fff;
  font-weight:500;
  border:none;
  outline:none;
  border-radius:50px;
  margin-top:20px;
}
